/* .opts {
  display: grid;
  background-color: black;
  grid-template-columns: repeat(1fr);
  grid-template-rows: repeat(1fr);

  height: 100px;
  width: 100px;
}
.ani {
  background-color: cadetblue;
  height: 100px;
  width: 100px;
} */
